*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#0d1117;
    color:#fff;
    font-family:Inter,Arial,sans-serif;
    min-width:320px;
}

a{
    text-decoration:none;
    color:inherit;
}

::-webkit-scrollbar{
    width:8px;
}

::-webkit-scrollbar-thumb{
    background:#2d3748;
}
